[submodule "stellar-core"]
	path = stellar-core
	url = https://github.com/stellar/stellar-core
[submodule "stellar-core-pc"]
	path = stellar-core-pc
	url = git@github.com:tomerweller/stellar-core-pc.git
